body{
    margin: 0px;
}

input:invalid{
    border: 2px dashed red;
}
input:valid{
    border: 2px solid black;
}

form{
    display: flex;
    flex-flow: column  wrap;
    justify-content: center;
    margin: 0em 5em;
}

header{
    background-color: #9AFF19;
    color: #ffffff;
    padding: 0;
    margin: 0;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
}


    .navigation { list-style: none; text-align: center; }
    .navigation li:first-child { display: block;}
    .navigation li { display: none;}
    .navigation a {	display: block;	 	text-align: center;	text-decoration: none;}
    

	.responsive li { display: block; }

/* Media Query for medium + screens */
@media only screen and (min-width: 770px) {
    .navigation li:first-child { display: none;	}
      .navigation li { display: inline-block; margin-right: 1rem;}	
      
  }
main{
    margin: 2em;
    
}

footer{
    padding:2em;
    background-color: #64b200;
    color:white;
    font-family: 'Open Sans', sans-serif;
}

header img{
    max-width: auto;
    max-height: 200px;
    padding: 2em;
        
}


header h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    margin: 0;
}
header h2{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}
nav{
    background-color: #64B200;
    color: #fff;
    padding: 0;
    margin: 0;
    text-align: center;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}
.selected {
    color: blue;
}
nav li:hover{
    background-color:#9AFF19;
}
ul{
    list-style-type: none;
    
    padding: 0;
    margin: 0;
}
nav li{
    padding: 0.5em;
}



a{
    text-decoration: none;
    color: #fff;
}

