body{
    margin: 0px;
}

input:invalid{
    border: 2px dashed red;
}
input:valid{
    border: 2px solid black;
}

.responsive{
    width: 50%;
    height: auto;
    text-align: center;
    
}
h5{
    font-size: 12pt;
    margin: none;
    padding: none;

}
#summ{
    width: 100%;
    text-align: center;
    margin: 2em;

}

table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
  }
  th, td {
    padding: 5px;
    text-align: center; 
    
  }
  th{
    color: white;
    background-color:  #60cfd1; 
  }
  td{
    color: white;
    background-color:  #ff7873; 
  }

.indexGrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
   
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    line-height: 150%;

}


form{
    display: flex;
    flex-flow: column  wrap;
    justify-content: center;
    margin: 0em 5em;
}

header{

    background-color: #ff7873;
    color: #ffffff;
    padding: 0;
    /*#inner shadow*/
    -moz-box-shadow: inset 0 -10px 10px -10px #000000;
    -webkit-box-shadow: inset 0 -10px 10px -10px #000000;
    box-shadow: inset 0 -10px 10px -10px #000000;

    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    background:
    /*circles salmon*/
   radial-gradient(at 50% 50%,      rgba(96, 207, 209, 0) 
    9px, #ff7873 9px, #ff7873 11px, rgba(96,207,209,0) 11px) 0px 0px,
    
    
    /*this makes the diamonds*/
    radial-gradient(at 50% 50%, rgba(96,207,209,.1) 18px,
     #ff7873 17px, rgba(96,207,209,.1) 100px) 0px 0px
    #60cfd1;

    /*blue backgroundin header*/
    background-size: 30px 30px;

}



    .navigation { list-style: none; text-align: center; }
    .navigation li:first-child { display: block;}
    .navigation li { display: none;

    
    }
    .navigation a {	display: block;	 	text-align: center;	text-decoration: none;}
    

	.responsive li { display: block; }

/* Media Query for medium + screens */
@media only screen and (min-width: 770px) {
    .navigation li:first-child { display: none;	}
      .navigation li { display: inline-block; margin-right: 1rem;}	
      
  }
main{
    margin: 1em;
    
}
 #aa{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2em;
    margin: 2em;
}

footer{
    padding:.5em;
    background-color: #60cfd1;
    color:white;
    font-family: 'Open Sans', sans-serif;

    
}

#date{
display: inline;

}

header img{
    max-width: auto;
    max-height: 200px;
    padding: 2em;
        
}


header h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    margin: 0;
    color: #2e1457;
    text-shadow: 2px 4px 0px rgba(0,0,0,0.2);
  
    

}
header h2{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}
main {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}
nav{
    background-color: #60cfd1;
    color: #fff;
    padding: 0;
    margin: 0;
    text-align: center;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}
.selected {
    text-shadow: 0 0 5px #fff, 0 0 7px #fff, 0 0 9px #fff, 0 0 11px #fff;
}
nav li:hover{
    background-color:#ff7873;
}
ul{
    list-style-type: none;
    
    padding: 0;
    margin: 0;
}
nav li{
    padding: 0.5em;
}



a{
    text-decoration: none;
    color: #fff;
}

